[submodule "Course2/programminglanguages/labs/assignment-1-io-library"]
	path = Course2/programminglanguages/labs/assignment-1-io-library
	url = https://gitlab.se.ifmo.ru/Cucumber090-1/assignment-1-io-library
