
h1 {
    font-size: 2rem;
    color: #0073e6;
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th, td {
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}

th {
    background-color: #0073e6;
    color: white;
    text-transform: uppercase;
}

td {
    background-color: #e6f7ff;
    color: #333;
}

tr:nth-child(even) td {
    background-color: #d9f0ff;
}

tr:hover td {
    background-color: #b3e0ff;
    color: #000;
}

a {
    text-decoration: none;
    color: white;
    background-color: #0073e6;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    background-color: #005bb5;
    color: #f0f0f5;
}